.modal-background {
  z-index: 1000;
  height: 200vh;
  width: 100vw;
  background-color: black;
  opacity: 75%;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-foreground {
  z-index: 2000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}